/* Charte Graphique */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --text-color: #000000;
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #FFFFFF;
    --background-color: #F2F2F2;
}

body {
    padding: 0 50px;
    margin-top: 30px;
    background-color: var(--background-color);
    font-family: "Raleway", "sans-serif";
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    opacity: 0.7;
}

h1,
h2 {
    font-size: 24px;
}


/* Menu de navigation */

nav {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

nav>img {
    max-width: 150px;
    margin: 30px auto 0px 40px;
    height: auto;
}

.menu {
    display: flex;
}

.menu>a {
    border-top: 3px solid transparent;
    padding: 30px;
}

.menu>a:hover {
    border-top: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* Formulaire de recherche */

.search-form {
    display: flex;
    margin-bottom: 30px;
}

.search-form>i {
    padding: 16px 18px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 14px 0 0 14px;
    opacity: 0.9;
}

.search-form>input {
    padding: 16px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
}

.search-form>button {
    padding: 16px 15px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0 14px 14px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
}

.search-form:hover {
    opacity: 0.8;
}

/* Filtres */

.header_filters {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;
}

.header_filters>h1 {
    margin: 15px 0px 0px 10px;
    font-size: 16px;
}

.filter {
    display: flex;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
}

.filter .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    width: 55px;
    height: 55px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.filter>span {
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.9;
}

.filter:hover {
    opacity: 0.8;
}

/* Message d'informations */
.results_message {
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin: 30px 0px 20px 0px;
}

.results_message .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}

/* Hébergements à Marseille */

.hotels_section {
    display: flex;
    gap: 25px;
}


.hotels_results {
    flex-basis: 70%;
    justify-content: space-around;
    padding: 30px 40px 40px 40px;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.hotels_results>a {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.hotels_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    gap: 20px;
    margin-bottom: 30px;
}

/* CITY APARTMENT CARD */
.hotel_card {
    flex-basis: 30%;
    max-height: 100%;
    max-width: 100%;
    padding: 6px;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 5px lightgrey;
}

.hotel_card>img {
    width: 100%;
    min-width: 180px;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.hotel_card>h3,
.hotel_card>p {
    margin: 3px 0px 0px 10px;
    font-size: 16px;
}

.hotel_card .stars {
    margin-top: 15px;
}

.star_color1 {
    color: var(--primary-color);
}

.star_color2 {
    color: var(--secondary-color);
}

/* Les plus populaires */

aside {
    flex-basis: 30%;
    padding: 30px 40px 40px 40px;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

/* Activités à Marseille */

.activities_section {
    display: flex;
    gap: 25px;
}

.activities_section .activities_list {
    margin: 0px -30px 0px -30px;

}

.activities_section .activities_list>h2 {
    margin-bottom: 60px;
}


/* Footer */
#footer {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 100px;
    background-color: #f2f2f2;
}

.footer-titles {
    flex-basis: 30%;
    flex-wrap: wrap;
}

.footer-titles>li {
    list-style: none;
    padding-bottom: 20px;
}



/* Media queries breakpoints :
- 992 px pour les écrans d’ordinateurs
- 768 px pour les tablettes
- tout ce qui est en dessous de 768 pour les téléphones portables. */