@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Charte graphique */
    --text-color: #000000;
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #FFFFFF;
    --background-color: #F2F2F2;
}

h1,
h2 {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    opacity: 0.7;
}

p {
    line-height: 2em;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.flexbox--column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
}

.flexbox--wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.padding {
    padding: 20px;
}

.bold {
    font-weight: bold;
}

#container {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    width: 100%;
}

header {
    width: 100%;
    height: auto;
}

#header_logo {
    width: 45%;
}

nav {
    width: 20%;
    padding: 20px;
}

.header_menu1 {
    color: var(--primary-color);
}

.header_button {
    color: var(--background-color);
    background-color: var(--primary-color);
}

.header_filters {
    width: 65%;
    font-weight: bold;
}

.header_filters--margin {
    margin: 20px;
}

.header_icon {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 75px 75px;
    padding: 15px;
}

.header_border {
    border: 3px solid var(--secondary-color);
    border-radius: 75px 75px;
}

main {
    width: 100%;
    height: 600px;
    background-color: var(--background-color);
}

.section1 {
    width: 70%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    margin: 10px;
}

.hotel_imagebox {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex: 0 0 auto;
    background-color: var(--tertiary-color);
    width: 90%;
    padding: 8px;
    margin: 10px;
    border-radius: 24px;
    box-shadow: 3px 3px 4px grey;
}

.hotel_image {
    width: 100%;
    height: 120px;
    border-radius: 24px 24px 0 0;
}

.star_width {
    width: 16px;
}

.star_color1 {
    color: var(--primary-color);
}

.star_color2 {
    color: var(--secondary-color);
}

aside {
    width: 30%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    margin: 10px;
}

.popular_imagebox {
    display: flex;
    flex-shrink: 0;
    flex: 0 0 auto;
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 8px;
    margin-bottom: 40px;
    border-radius: 24px;
    box-shadow: 3px 3px 4px grey;
}

.popular_image {
    width: 152px;
    height: 138px;
    border-radius: 24px 0 0 24px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    display: none;
}

.footer_size {
    width: 70%;
}

.footer_item--padding {
    padding: 10px 0;
}

/* Tailles : utiliser les pixels et les pourcentages */

/* Utiliser Flexbox plutôt que Grid */



/* Media queries breakpoints :
- 992 px pour les écrans d’ordinateurs
- 768 px pour les tablettes
- tout ce qui est en dessous de 768 pour les téléphones portables. */



/* Plusieurs formats et tailles d’images ont été exportés. Il faudra choisir
le format le plus adapté par rapport à la résolution et au temps de
chargement. */